<a href="https://colab.research.google.com/github/fralfaro/MAT281_2023/blob/main/docs/labs/lab_032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MAT281 - Laboratorio N°03

Esta semana revisaremos datos del **Índice de Libertad de Prensa** que confecciona cada año la asociación de Reporteros Sin Fronteras.

> **Nota**: el conjunto a utilizar lo encuentra en el siguiente [link](https://drive.google.com/drive/folders/1zxiYb5ji_xa5_5tWxvdjCEGYRY9YvjR7?usp=drive_link).

## Diccionario de datos


|Variable       |Clase               |Descripción |
|:--------------|:-------------------|:-----------|
| codigo_iso | caracter | Código ISO del país |
| pais | caracter | País |
| anio | entero | Año del resultado |
| indice | entero | Puntaje Índice Libertad de Prensa (menor puntaje = mayor libertad de prensa) |
| ranking | entero | Ranking Libertad de Prensa |


## Fuente original y adaptación
Los datos fueron extraídos de [The World Bank](https://tcdata360.worldbank.org/indicators/h3f86901f?country=BRA&indicator=32416&viz=line_chart&years=2001,2019). La fuente original es [Reporteros sin Fronteras](https://www.rsf-es.org/).

Por otro lado, estos archivos han sido modificado intencionalmente para ocupar todo lo aprendido en clases. A continuación, una breve descripción de cada uno de los data frames:

* **libertad_prensa_codigo.csv**: contiene la información codigo_iso/pais. Existe un código que tiene dos valores.
* **libertad_prensa_anio.csv**: contiene la información pais/anio/indice/ranking. Los nombres de las columnas estan en mayúscula.

In [12]:
import numpy as np
import pandas as pd

from os import listdir
from os.path import isfile, join

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
path = "/content/drive/MyDrive/libertad_prensa/"

archivos_anio = [path + f for f in listdir(path) if 'libertad_prensa_codigo' not in f ]
df_codigos = pd.read_csv(path + 'libertad_prensa_codigo.csv')

 El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Lo primero será juntar toda la información en un _solo archivo_, para ello necesitamos seguir los siguientes pasos:

 * a) Crear el archivo **df_anio**, que contenga la información de **libertad_prensa_anio.csv** para cada año. Luego, normalice el nombre de las columnas a minúscula.
 * b) Encuentre y elimine el dato que esta duplicado en el archivo **df_codigo**.
 * c) Crear el archivo **df** que junte la información del archivo **df_anio** con **df_codigo** por la columna _codigo_iso_.

> **Hint**: Para juntar por _anio_ ocupe la función **pd.concat**. Para juntar información por columna ocupe **pd.merge**.

In [16]:
# Solución

# ítem a

lista=[] # Lista vacía para llenarla con dataframes

for name in archivos_anio:
    df_temporal=pd.read_csv(name)
    lista.append(df_temporal)
df_anio=pd.concat(lista)
df_anio.columns=df_anio.columns.str.lower()

df_anio

    codigo_iso  anio  indice  ranking
0          AFG  2012   37.36    112.0
1          AGO  2012   37.80    114.0
2          ALB  2012   30.88     87.0
3          AND  2012    6.82    152.0
4          ARE  2012   33.49     98.0
..         ...   ...     ...      ...
175        WSM  2001     NaN      NaN
176        YEM  2001   34.80     58.0
177        ZAF  2001    7.50     86.0
178        ZMB  2001   26.80     38.0
179        ZWE  2001   48.30     76.0

[3060 rows x 4 columns]

In [17]:
# ítem b

df_codigos['codigo_iso'].value_counts() # cuenta que hay un valor duplicado (localizado)
df_codigos=df_codigos[df_codigos['pais']!='malo'] # elimina dicho valor localizado

df_codigos

    codigo_iso                    pais
0          AFG             Afghanistán
1          AGO                  Angola
2          ALB                 Albania
3          AND                 Andorra
4          ARE  Emiratos Árabes Unidos
..         ...                     ...
175        WSM                   Samoa
176        YEM                   Yemen
177        ZAF               Sudáfrica
178        ZMB                  Zambia
179        ZWE                Zimbabue

[180 rows x 2 columns]

In [18]:
# ítem c

df=pd.merge(df_anio,df_codigos,on='codigo_iso')

df

     codigo_iso  anio  indice  ranking         pais
0           AFG  2012   37.36    112.0  Afghanistán
1           AFG  2015   37.75    114.0  Afghanistán
2           AFG  2003   28.25     49.0  Afghanistán
3           AFG  2009   51.67    105.0  Afghanistán
4           AFG  2005   44.25     67.0  Afghanistán
...         ...   ...     ...      ...          ...
3055        ZWE  2006   62.00    115.0     Zimbabue
3056        ZWE  2014   39.19    124.0     Zimbabue
3057        ZWE  2013   39.19    124.0     Zimbabue
3058        ZWE  2019   42.23    127.0     Zimbabue
3059        ZWE  2001   48.30     76.0     Zimbabue

[3060 rows x 5 columns]

2. Encontrar:
   * ¿Cuál es el número de observaciones en el conjunto de datos?   
   * ¿Cuál es el número de columnas en el conjunto de datos?   
   * Imprime el nombre de todas las columnas  
   * ¿Cuál es el tipo de datos de cada columna?
   * Describir el conjunto de datos (**hint**: .describe())

In [23]:
# Solución

# Cantidad de observaciones

cant_obs = df.shape[0] # cantidad de filas que tiene el dataframe
print("La cantidad de observaciones es", cant_obs)
print("") #separadores para que vea bonito

# Cantidad de columnas

cant_col=df.shape[1] #ve la cantidad de columnas que tiene el df
print("La cantidad de columnas es", cant_col,'\n')

# Nombre de todas las columnas

print("El nombre de las columnas son:")
r = df.columns.tolist()
for j in range(len(r)):
  print(r[j])
print("\n")

# Tipo de datos

print("El tipo de dato de cada columna es:")
print(df.dtypes) #función que da el tipo de dato
print("\n")

# Conjunto de datos descritos
print("El conjunto de datos descritos:")
print(df.describe(include='all'))

La cantidad de observaciones es 3060

La cantidad de columnas es 5

El nombre de las columnas son:
codigo_iso
anio
indice
ranking
pais


El tipo de dato de cada columna es:
codigo_iso     object
anio            int64
indice        float64
ranking       float64
pais           object
dtype: object


El conjunto de datos descritos:
       codigo_iso         anio        indice        ranking     pais
count        3060  3060.000000   2664.000000    2837.000000     3060
unique        180          NaN           NaN            NaN      179
top           AFG          NaN           NaN            NaN  Nigeria
freq           17          NaN           NaN            NaN       34
mean          NaN  2009.941176    205.782316     477.930913      NaN
std           NaN     5.786024   2695.525264    6474.935347      NaN
min           NaN  2001.000000      0.000000       1.000000      NaN
25%           NaN  2005.000000     15.295000      34.000000      NaN
50%           NaN  2009.000000     28.000000      70.000000      NaN
75%           NaN  2015.000000     41.227500     110.000000      NaN
max           NaN  2019.000000  64536.000000  121056.000000      NaN

3. Desarrolle una función `resumen_df(df)` para encontrar el total de elementos distintos y vacíos por columnas.

In [27]:
def resumen_df(df):
    """
    funcion resumen con elementos distintos y vacios
    por columnas
    """
    nombres = df.columns

    u_list=[] # lista con elementos únicos
    n_list=[] # lista con elementos vacíos

    for j in nombres:

      unique=(len(df[j].unique()))
      vacio=(df[j].isnull().sum())

      if vacio!=0:
         unique=unique-1;

      u_list.append(unique) # agrega la cantidad de elementos distintos que hay por columna a la lista
      n_list.append(vacio) # agrega la cantidad de elementos vacíos que hay por columna a la lista

    result = pd.DataFrame({'nombres': nombres})
    result['elementos_distintos'] = u_list #ponemos cada componente de la lista unique en su correspondiente lugar en el df result
    result['elementos_vacios'] = n_list #ponemos cada componente de la lista null en su correspondiente lugar en el df result

    return result

In [28]:
# retornar
resumen_df(df)

      nombres  elementos_distintos  elementos_vacios
0  codigo_iso                  180                 0
1        anio                   17                 0
2      indice                 1550               396
3     ranking                  193               223
4        pais                  179                 0

4. Para los paises latinoamericano, encuentre por año  el país con mayor y menor `indice`.

 * a) Mediante un ciclo _for_.
 * b) Mediante un  _groupby_.

In [29]:
# Solucion

america = ['ARG', 'ATG', 'BLZ', 'BOL', 'BRA', 'CAN', 'CHL', 'COL', 'CRI',
       'CUB', 'DOM', 'ECU', 'GRD', 'GTM', 'GUY', 'HND', 'HTI', 'JAM',
       'MEX', 'NIC', 'PAN', 'PER', 'PRY', 'SLV', 'SUR', 'TTO', 'URY',
       'USA', 'VEN']

df_america = df[df.codigo_iso.isin(america)]

# Se creará un diccionario con los países con mayor y menor índice
# maximo

anios = df['anio'].unique() # lista de años

dict_mayor= dict()

for k in anios:
    df_aux = df_america.loc[lambda x: x['anio'] == k] # se filtra por cada año
    max_indice = df_aux['indice'].max()  # máximo de la columna
    df_aux = df_aux[df_aux['indice']==max_indice]
    paises = list(df_aux['pais'])

    new_paises=[]

    if len(paises)<1:
      paises.append('No hay datos')
      new_paises.append(paises[0])
    elif len(paises)>=1:
      new_paises.append(paises[0])
    if (np.isnan(max_indice)==True): # si el valor es NaN se cambia por un 0
      max_indice=0

    dict_mayor[k]=[new_paises[0],max_indice] # tupla con el nombre del país y su índice en el diccionario

sorted(dict_mayor.items()) # ordena por año

[(2001, ['Cuba', 90.3]),
 (2002, ['Cuba', 97.83]),
 (2003, ['Argentina', 35826.0]),
 (2004, ['Cuba', 87.0]),
 (2005, ['Cuba', 95.0]),
 (2006, ['Cuba', 96.17]),
 (2007, ['Cuba', 88.33]),
 (2008, ['Cuba', 94.0]),
 (2009, ['Cuba', 78.0]),
 (2012, ['Cuba', 71.64]),
 (2013, ['Cuba', 70.92]),
 (2014, ['Cuba', 70.21]),
 (2015, ['Cuba', 70.23]),
 (2016, ['No hay datos', 0]),
 (2017, ['Cuba', 71.75]),
 (2018, ['Cuba', 68.9]),
 (2019, ['Cuba', 63.81])]

In [32]:
# Solución

# minimo
dict_menor= dict()

for k in anios:
    df_aux = df_america.loc[lambda x: x['anio'] == k] # se filtra por cada año
    min_indice = df_aux['indice'].min()  # encontrar mínimo
    df_aux=df_aux[df_aux['indice']==min_indice]
    paises=list(df_aux['pais'])

    new_paises=[]

    if len(paises)<1:
      paises.append('No hay datos')
      new_paises.append(paises[0])
    elif len(paises)>=1:
      new_paises.append(paises[0])
    if (np.isnan(min_indice)==True): #si el valor es NaN se cambia por un 0
      min_indice=0
    dict_menor[k]=[new_paises[0],min_indice]

sorted(dict_menor.items()) # ordena por año

[(2001, ['Canadá', 0.8]),
 (2002, ['Trinidad y Tobago', 1.0]),
 (2003, ['Trinidad y Tobago', 2.0]),
 (2004, ['Trinidad y Tobago', 2.0]),
 (2005, ['Bolivia', 4.5]),
 (2006, ['Canadá', 4.88]),
 (2007, ['Canadá', 3.33]),
 (2008, ['Canadá', 3.7]),
 (2009, ['Estados Unidos', 6.75]),
 (2012, ['Jamaica', 9.88]),
 (2013, ['Jamaica', 10.9]),
 (2014, ['Canadá', 10.99]),
 (2015, ['Costa Rica', 11.1]),
 (2016, ['No hay datos', 0]),
 (2017, ['Costa Rica', 11.93]),
 (2018, ['Jamaica', 11.33]),
 (2019, ['Jamaica', 11.13])]

In [33]:
# maximo

max_indice = df_america.groupby('anio').indice.max() # se asigna a cada año el mayor indice por país
data_max = df_america.merge(max_indice, on='anio', suffixes=('','_max')) # dataframe ordenado por año
data_max= data_max[data_max.indice==data_max.indice_max].drop(['indice_max','codigo_iso','ranking',], axis=1)
by_anio = data_max.sort_values('anio') # se ordena por anio

by_anio

     anio    indice       pais
473  2001     90.30       Cuba
328  2002     97.83       Cuba
58   2003  35826.00  Argentina
270  2004     87.00       Cuba
125  2005     95.00       Cuba
357  2006     96.17       Cuba
183  2007     88.33       Cuba
299  2008     94.00       Cuba
96   2009     78.00       Cuba
9    2012     71.64       Cuba
415  2013     70.92       Cuba
386  2014     70.21       Cuba
38   2015     70.23       Cuba
212  2017     71.75       Cuba
241  2018     68.90       Cuba
444  2019     63.81       Cuba

In [34]:
#b)minimo

min_indice = df_america.groupby('anio').indice.min() # se asigna a cada año el menor indice por país
data_min = df_america.merge(min_indice, on='anio', suffixes=('','_min')) # dataframe ordenado
data_min= data_min[data_min.indice==data_min.indice_min].drop(['indice_min','codigo_iso','ranking',], axis=1)
by_anio = data_min.sort_values('anio')

by_anio

     anio  indice               pais
469  2001    0.80             Canadá
344  2002    1.00  Trinidad y Tobago
83   2003    2.00  Trinidad y Tobago
286  2004    2.00  Trinidad y Tobago
119  2005    4.50            Bolivia
121  2005    4.50             Canadá
353  2006    4.88             Canadá
179  2007    3.33             Canadá
295  2008    3.70             Canadá
114  2009    6.75     Estados Unidos
17   2012    9.88            Jamaica
423  2013   10.90            Jamaica
382  2014   10.99             Canadá
37   2015   11.10         Costa Rica
211  2017   11.93         Costa Rica
249  2018   11.33            Jamaica
452  2019   11.13            Jamaica

5. Para cada _país_, muestre el _indice_ máximo que alcanzo por _anio_. Para los datos nulos, rellene con el valor **0**.

**Ejemplo**:

<img src="https://drive.google.com/uc?export=view&id=1ob0qch1dsOjDOUuZXnCY0HU_3XPp19gV" width = "700" align="center"/>

> **Hint**: Utilice la función **pd.pivot_table**.

In [36]:
# Solución

table = pd.pivot_table(df, values='indice', index=['codigo_iso'], columns=['anio'], aggfunc=np.sum, fill_value=0) #Se usa la función del ejemplo
table

anio,2001,2002,2003,2004,2005,2006,2007,2008,2009,2012,2013,2014,2015,2016,2017,2018,2019
codigo_iso,,,,,,,,,,,,,,,,,
AFG,35.5,40.17,28.25,39.17,44.25,56.50,59.25,54.25,51.67,37.36,37.07,37.44,37.75,0,39.46,37.28,36.55
AGO,30.2,28.00,26.50,18.00,21.50,26.50,29.50,36.50,28.50,37.80,36.50,37.84,39.89,0,40.42,38.35,34.96
ALB,0.0,6.50,11.50,14.17,18.00,25.50,16.00,21.75,21.50,30.88,29.92,28.77,29.92,0,29.92,29.49,29.84
AND,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.82,6.82,19.87,19.87,0,21.03,22.21,24.63
ARE,0.0,37.00,50.25,25.75,17.50,20.25,14.50,21.50,23.75,33.49,36.03,36.73,36.73,0,39.39,40.86,43.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,33.00,23.84,22.02,22.32,18.80,0,16.41,16.69,18.25
YEM,34.8,41.83,48.00,46.25,54.00,56.67,59.00,83.38,82.13,69.22,67.26,66.36,67.07,0,65.80,62.23,61.66
ZAF,7.5,3.33,5.00,6.50,11.25,13.00,8.00,8.50,12.00,24.56,23.19,22.06,21.92,0,20.12,20.39,22.19
ZMB,26.8,23.25,29.75,23.00,22.50,21.50,15.50,26.75,22.00,27.93,30.89,34.35,35.08,0,36.48,35.36,36.38
ZWE,48.3,45.50,67.50,64.25,50.00,62.00,54.00,46.50,39.50,38.12,39.19,39.19,40.41,0,41.44,40.53,42.23