<a href="https://colab.research.google.com/github/fralfaro/MAT281_2023/blob/main/docs/labs/lab_031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# MAT281 - Laboratorio N°03

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información de distintos usuarios (edad ,sexo, profesión, etc.).

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [3]:
import pandas as pd

In [4]:
# load data
url='https://drive.google.com/file/d/1SW1_vWBLd50COj4FbQdZenqAwA0nLDqC/view?usp=drive_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]

df = pd.read_csv(url, sep="|" )
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1.- ¿Cuál es el número de observaciones en el conjunto de datos?

In [5]:
print('El número de observaciones (filas) corresponde a:')
df.shape[0]

943

2.- ¿Cuál es el número de columnas en el conjunto de datos?

In [6]:
print('El número de columnas corresponde a:')
df.shape[1]

El número de columnas corresponde a:

5

3.- Imprime el nombre de todas las columnas

In [7]:
print(df.columns)

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

4.- Imprima el índice del dataframe

In [8]:
df.index

RangeIndex(start=0, stop=943, step=1)

5.- ¿Cuál es el tipo de datos de cada columna?

In [9]:
print('Los tipos de datos de cada columna corresponden a:')
df.dtypes

Los tipos de datos de cada columna corresponden a:

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6.- Describir el conjunto de datos (**hint**: .describe())

In [10]:
print('Los datos corresponden a:')
df.describe()

Los datos corresponden a:

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

7.- Imprimir solo la columna de **occupation**.

In [11]:
df['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

8.- ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [14]:
ocupaciones = len(df['occupation'].unique())
print('En total hay',ocupaciones,' ocupaciones, las cuales son:')
df['occupation'].unique()

En total hay 21  ocupaciones, las cuales son:

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

9.- ¿Cuál es la ocupación más frecuente?

In [15]:
print('La ocupación más frecuente correspomde a:')
df['occupation'].value_counts().index[0]

La ocupación más frecuente correspomde a:

'student'

10.- ¿Cuál es la edad media de los usuarios?

In [16]:
print('La edad media de los usuarios corresponde a:')
int(df["age"].mean())

La edad media de los usuarios corresponde a:

34

11.- ¿Cuál es la edad con menos ocurrencia?

In [17]:
print('La edad con menos ocurrencia corresponde a:')
df['age'].value_counts().index[-1]

La edad con menos ocurrencia corresponde a:

73